h1 {
    text-align: center;
}

div.login-form {
    text-align: center;
}

div.registration-form {
    text-align: center;
}

div.product-wrapper {
    margin: 20px auto;
    width: 50%;
}

div.product-wrapper > p {
    border: 2px solid black;
    color: black;
    padding: 5px;
    margin: 0;
    background: wheat;
}

div.product-wrapper > p.productName {
    text-align: center;
}

div.person-wrapper {
    margin: 20px auto;
    width: 30%;
}

div.person-wrapper > p {
    border: 2px solid black;
    color: black;
    padding: 5px;
    margin: 0;
    background: wheat;
}

div.person-blocked-false > p {
    background: limegreen;
}

div.person-blocked-true > p {
    background: lightcoral;
}

form.save-to-basket {
    text-align: center;
    margin-bottom: 0;
}

div.saved-block {
    text-align: center;
    background: yellow;
    border: 2px solid black;
    margin-bottom: 0;
}

ul.filters {
    border: 2px solid black;
    width: 100px;
}

ul.filters-wrapper li {
    display: inline-block;
}

form.filter-form {
    width: 500px;
    text-align: center;
    margin: auto auto 20px;
}

form.sort-form {
    text-align: center;
    width: 200px;
    margin: auto;
}

a.login-guest {
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

a.login-guest:hover {
    background: palegoldenrod;
}

form.block-unblock-form {
    text-align: center;
}

.error {
    color: red;
}
