h1, h2 {
    text-align: center;
}

form {
    text-align: center;
}

/* HEADER */

ul.header {
    margin: 0 auto auto;
    text-align: center;
}

ul.header li {
    list-style-type: none;
    display: inline-block;
    border: 2px solid green;
}

ul.header li a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    display: inline-block;
    padding: 10px 20px;
    background: blanchedalmond;
    width: 60px;
}

ul.header li a:hover {
    background: lightcoral;
}

/* ----------*/

div.login-form {
    text-align: center;
}

div.login-logout-block {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    background: cadetblue;
}

div.login-logout-block:hover {
    background: dodgerblue;
}

div.login-logout-block a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

div.registration-form {
    text-align: center;
}

div.product-wrapper {
    margin: 20px auto;
    width: 50%;
}

div.product-wrapper > p {
    border: 2px solid black;
    color: black;
    padding: 5px;
    margin: 0;
    background: wheat;
}

div.product-wrapper > p.productName {
    text-align: center;
}

div.person-wrapper {
    margin: 20px auto;
    width: 30%;
}

div.person-wrapper > p {
    border: 2px solid black;
    color: black;
    padding: 5px;
    margin: 0;
    background: wheat;
}

p.status {
    text-align: center;
}

div.person-blocked-false > p {
    background: limegreen;
}

div.person-blocked-true > p {
    background: lightcoral;
}

div.product-wrapper form {
    text-align: center;
    margin-bottom: 0;
}

form.create-product {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.saved-block {
    text-align: center;
    background: yellow;
    border: 2px solid black;
    margin-bottom: 0;
}

div.ordered-block {
    text-align: center;
    background: yellow;
    border: 2px solid black;
    margin-bottom: 0;
}

ul.filters {
    border: 2px solid black;
    width: 100px;
}

ul.filters-wrapper li {
    display: inline-block;
}

form.filter-form {
    width: 500px;
    margin: auto auto 20px;
}

form.sort-form {
    width: 200px;
    margin: auto;
}

/*LOGIN AS A GUEST BUTTON*/

a.login-guest {
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

a.login-guest:hover {
    background: palegoldenrod;
}

.error {
    color: red;
}
